.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat-create a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.side-main {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room{
  padding: 20px 0 40px;
}

.chat-name a {
  color: white;
  text-decoration: none;
}

.main-header {
background-color: #ffffff;
height: 100px;
padding: 0 40px;
display: flex;
justify-content: space-between;
}

.chat-member{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-end {
  margin-top: 40px;
}

.chat-end a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.main-chat {
  background-color: #fafafa;
  padding: 46px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0 ;
}

.up-message{
  display: flex;
}

.message-user{
  color: #434a54;
  font-size: 16px;
}

.date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.under-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  height: 50px;
  padding-left: 10px;
  width: 100%;
  border: none;
}

.form-send{
  background-color: #38aef0;
  padding: 0 20px;
  margin-left: 15px;
  height: 50px;
  font-size: 16px;
  color: white;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}